{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>Салоны красоты</h4>			
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">				
					<p>Отраслевое решение, предназначенное для автоматизации управления и учета в одиночных и сетевых салонах красоты, парикмахерских, маникюрных и массажных салонах, студиях загара.</p>
					<p>Управление взаимоотношениями с клиентами (CRM):</p>
					<ul>
						<li>Ведение базы клиентов;</li>
						<li>Предварительная запись (одновременная запись сразу к нескольким мастерам);</li>
						<li>Система напоминаний;</li>
						<li>Рассылка SMS и e-mail;</li>
						<li>Отчеты по клиентам (статистика посещения салона, загрузка рабочих мест салона, продажи по клиентам, рейтинг клиентов по отменам записи и многие другие).</li>
					</ul>
					<p>Проведение маркетинговых мероприятий для удержания/привлечения клиентов, а также повышения уровня сервиса и качества предоставляемых услуг.</p>
					<ul>
						<li>Проведение опросов;</li>
						<li>Анализ эффективности рекламы.</li>
					</ul>
					<p>Система повышения лояльности клиентов:</p>
					<ul>
						<li>Дисконтные карты;</li>
						<li>Накопительные скидки;</li>
						<li>Бонусная система с начислением на лицевой счет клиента;</li>
						<li>Предоставление скидки в виде процента, суммы, подарка;</li>
						<li>Подарочные сертификаты.</li>
					</ul>
					<p>Управление персоналом:</p>
					<ul>
						<li>Планирование графика работы мастеров;</li>
						<li>Отражение фактически отработанного времени работы мастеров;</li>
						<li>Управленческий расчет зарплаты (оклад по дням, часам; % от оказания услуг, от продажи товаров, от общей выручки салона);</li>
						<li>Ведение взаиморасчетов с сотрудниками;</li>
						<li>Отчеты по сотрудникам (план-фактный анализ рабочего времени, продажи сотрудников, рейтинг сотрудников по привлечению и удержанию клиентов и многие другие).</li>
					</ul>
				</div>
				<div class="col-md-4">
					<div class="row">			
						<img class="img-center" src="{% static 'images/service7.jpg' %}" alt="logo">
					</div>	
				</div>
			</div>				
		</div>
		<div class="card-footer">				
		</div>		
	</div>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px; margin: 2px;" onclick="history.back()">{% trans "Back" %}</a>    	
	</div>		
</div>

{% endblock content %}