{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>Автотранспорт</h4>			
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">				
					<p>Программный продукт предназначен для автоматизации процесса обработки путевых листов, учета движения ГСМ, учета шин и аккумуляторов и расчета заработной платы водителей на предприятиях всех сфер деятельности: начиная от предприятий, эксплуатирующих транспортные средства или имеющих в своем составе транспортные подразделения и заканчивая предприятиями, оказывающими транспортные услуги.</p>
					<p>ОСНОВНЫЕ ВОЗМОЖНОСТИ КОНФИГУРАЦИИ</p>
					<ul>
						<li>Выписка и обработка путевых листов;</li>
						<li>Учет остатков и движения ГСМ в баках транспортных средств (Выдача, Слив, Списание);</li>
						<li>Расчет нормы расхода ГСМ с использованием произвольных формул, настраиваемых пользователем;</li>
						<li>Списание ГСМ в бухгалтерском учете, формирование Акта на списание ГСМ по результатам расчета нормы расхода ГСМ;</li>
						<li>Учет результатов работы транспортных средств (пробег, тонно-километры, время работы и т.д.). Учет работ ведется как по транспортным средствам, так и по заказчикам;</li>
						<li>Учет результатов работы водителей (отработано времени, ночные часы, время в ремонте и т.д);</li>
						<li>Расчет зарплаты водителей с учетом тарифов, которые могут быть заданы как для работника, так и для транспортного средства. Алгоритм расчета и правила подстановки тарифов определяются формулами, которые пользователь может изменить по своему усмотрению;</li>
						<li>Учет шин и аккумуляторов;</li>
						<li>Автоматическое отражение затрат на заработную плату водителей и расход ГСМ в бухгалтерском учете. Возможно распределение затрат по заказчикам транспортных услуг.</li>
					</ul>
					<p>Программный продукт «1С-Рейтинг: Управление затратами на автотранспорт. Путевые листы» не является самостоятельным, для его работы необходимо наличие одной из типовых конфигураций: «Бухгалтерия для Казахстана», «Управление торговым предприятием для Казахстана» или «Управление производственным предприятием для Казахстана» системы программ «1С:Предприятие 8».</p>
				</div>
				<div class="col-md-4">
					<div class="row">			
						<img class="img-center" src="{% static 'images/service5.jpg' %}" alt="logo">
					</div>	
				</div>
			</div>				
		</div>
		<div class="card-footer">				
		</div>		
	</div>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px; margin: 2px;" onclick="history.back()">{% trans "Back" %}</a>    	
	</div>		
</div>

{% endblock content %}