{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>Мобильное Решение Для 1С</h4>			
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">				
					<p>Все виды мобильной торговли могут быть успешно автоматизированы с помощью «Моби-С». Эта система контроля и сбора данных позволяет ускорить работу специалистов и торговых агентов. Мгновенная обработка различной мерчандайзинговой информации позволяет сделать работу удобной и эффективной.</p>
					<p>«Моби-С» – уникальный программный комплекс для поддержки мобильной торговли с помощью устройств типа КПК. Он позволяет полностью автоматизировать все ключевые процессы работы торгового представителя в розничной торговле (pre-selling), в продаже «с колес» (van-selling) и мерчандайзинге (merchandising).</p>
					<p>Система позволяет не только контролировать деятельность торговых агентов и структурировать ее, но и существенно повысить скорость и точность обработки заказов, а также увеличить общий показатель эффективности. «Моби-С» включает в себя возможности по автоматизации огромного количества рабочих задач, позволяет упростить планирование и контроль. Простота внедрения и доступная цена позволяют программному комплексу выделяться на фоне похожих разработок. Программный комплекс порадует тех, кому нужен превосходный результат! Кроме того, система постоянно усовершенствуется. Добавляются новые возможности и полезные инструменты. Важно подчеркнуть, что обновления поставляются бесплатно.</p>
				</div>
				<div class="col-md-4">
					<div class="row">			
						<img class="img-center" src="{% static 'images/service9.jpg' %}" alt="logo">
					</div>	
				</div>
			</div>				
		</div>
		<div class="card-footer">				
		</div>		
	</div>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px; margin: 2px;" onclick="history.back()">{% trans "Back" %}</a>    	
	</div>		
</div>

{% endblock content %}