{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>Автоматизация Медицины</h4>			
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">				
					<p>Решение «1С-Рарус:Управление медицинской организацией» разработано при методической поддержке МИАЦРАМН и предназначено для комплексной автоматизации крупных медицинских организаций любой формы собственности, имеющих амбулаторно-поликлинические и стационарные звенья.</p>					
				</div>
				<div class="col-md-4">
					<div class="row">			
						<img class="img-center" src="{% static 'images/service3.jpg' %}" alt="logo">
					</div>	
				</div>
			</div>				
		</div>
		<div class="card-footer">				
		</div>		
	</div>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px; margin: 2px;" onclick="history.back()">{% trans "Back" %}</a>    	
	</div>		
</div>

{% endblock content %}