{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>Ресторанный Бизнес</h4>			
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">				
					<p>Программный продукт «1С-Рейтинг: Ресторан» предназначен для автоматизации рабочих мест официанта, бармена, кассира, метрдотеля на предприятиях и в подразделениях общественного питания различного масштаба: рестораны, бары, кафе, столовые и т.д.</p>
					<p>В решении используется два режима работы:</p>
					<ul>
						<li>режим работы кассира, официанта, бармена и метрдотеля;</li>
						<li>режим работы менеджера, администратора.</li>
					</ul>
					<p>Для работы кассира, официанта, бармена и метрдотеля разработан специальный интерфейс (рабочее место), предоставляющий быстрый и удобный доступ ко всем необходимым функциям, таким как оформление брони, заказа, произведения кассовых операций. Интерфейс оптимизирован для работы с сенсорным монитором, также доступно традиционное управление с помощью клавиатуры и мыши. В этом режиме присутствует два рабочих стола, отличающихся схемой обслуживания:</p>
					<p><strong>Фаст-фуд</strong> – расчет производится сразу во время оформления заказа, в дальнейшем, возможно формирования чека на возврат;</p>
					<p><strong>Ресторан</strong> – расчет производится после обслуживания клиента, доступны дозаказ, отмена блюд, с указанием причины отмены, а также оформление брони и предоплаты.</p>
					<p>Рабочее место менеджера, администратора предназначено для администрирования информационной базы, внесения справочной информации, настройки параметров учета, получения аналитических отчетов по работе предприятия и т.д.</p>
					<p>Программный продукт разработан с использованием конфигураций «1С:Библиотека стандартных подсистем» и «1С: Библиотека подключаемого оборудования», является оригинальным решением и предназначен для работы с системой программ «1С:Предприятие 8.2».</p>
				</div>
				<div class="col-md-4">
					<div class="row">			
						<img class="img-center" src="{% static 'images/service4.jpg' %}" alt="logo">
					</div>	
				</div>
			</div>				
		</div>
		<div class="card-footer">				
		</div>		
	</div>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px; margin: 2px;" onclick="history.back()">{% trans "Back" %}</a>    	
	</div>		
</div>

{% endblock content %}