{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block content %}
<h2>{% trans "client" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">	
			<h4>{{ client.name }}</h4>		
		</div>
		<div class="card-body">
			<p><strong>{% trans "client_phone" %}</strong>: {{ client.phone }}</p>			
			<p><strong>{% trans "client_leader" %}</strong>: {{ client.leader }}</p>			
		</div>
		<div class="card-footer">				
		</div>		
	</div>
	<br>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'client_index' %}">{% trans "Back" %}</a> 	
	</div>	
</div>
{% endblock content %}