{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="row">
	<div class="col-md-3">
		<h3 align="center">{% trans "Contacts" %}</h3>
		<h2 align="center">ТОО «Integra Soft» </h2>
		<address>
			<p>п. Булакты, ул Кольсай (Новая), 7а, <br>
			Карасайский р-н, Алматинская обл., Казахстан.</p>			
			<a href="mailto:sln@integrasoft.kz">sln@integrasoft.kz</a>			  
		</address>				
		<p><a href="tel:+77755276893">+7(775)527-68-93</a><p>
	</div>
	<div class="col-md-9" style="position:relative;overflow:hidden;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d72311.38508760002!2d76.67776126557129!3d43.21963620387963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0L8uINCR0YPQu9Cw0LrRgtGLLCDRg9C7INCa0L7Qu9GM0YHQsNC5LCDQmtCw0YDQsNGB0LDQudGB0LrQuNC5INGALdC9LCDQkNC70LzQsNGC0LjQvdGB0LrQsNGPINC-0LHQuy4sINCa0LDQt9Cw0YXRgdGC0LDQvS4!5e0!3m2!1sru!2skz!4v1706154257187!5m2!1sru!2skz" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>
{% endblock content %}