{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ catalog.category }}</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<h4 class="card-title">{{ catalog.title }}</h4>
				<p>{{ catalog.details | linebreaks}}</p>
				<p><strong>{% trans "code" %}: </strong> {{ catalog.code}}</p>
			</div>
		</div>
		<div class="card-footer">
			<h4>{{ catalog.price | stringformat:"1.0f" }} 〒</h4>			
		</div>
	</div>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'catalog_index' %}">{% trans "Back" %}</a> 	
	</div>
</div>

{% endblock content %}